<div class="container">
    <h1 class="header center grey-text darken-3-text">Foire qux auestions</h1>

    <div class="section">
        <h5>Comment connecter EmailCleaner à votre boîte mail?</h5>
        <P>
            Lorsque vous entrez vos identifiants de connexion, EmailCleaner se connecte à votre boîte mail en utilisant
            un code de connexion unique fourni par OUTLOOK ou GMAIL à EmailCleaner.
        </P>

        <h5>Comment retrouver des emails supprimés par erreur?</h5>
        <P>
            EmailCleaner ne supprime pa définitivement vos emails.
            Ils sont juste transférer dans le dossier "Eléments supprimés" de votre boîte mail. Vous pouvez les
            restaurer en vous connectant à votre boîte mail.
        </P>

        <h5>Pourquoi le tri des emails prend du temps?</h5>
        <p>
            Par soucis de disponibilité du service, EmailCleaner recherche et trie vos 500 derniers emails.
            Cette opération peut durer de 1 à 10 minutes!
        </p>
    </div>
</div>