<div class="container">
    <h1 class="header center grey-text darken-3-text">Conditions générales d'utilisation</h1>
    <div class="section">
        <h5>Présentation</h5>
        <p>
            EmailCleaner vous permet de reprendre le contrôle de votre messagerie.
            Cet outil est open source et prend soin de vos données personnelles.
            Tout le monde peut accèder au code source de EmailCleaner sur <a href="https://github.com/aektos/emailcleaner" target="_blank">github</a>.
            EmailCleaner n'enregistre pas, ne réalise pas de statistiques et ne revend pas vos données
            personnelles.
        </p>

        <h5>Responsable du site</h5>
        <p>Nicolas Torre, <a href="https://github.com/aektos" target="_blank">Github</a></p>

        <h5>Hébergeur</h5>
        <p>
            Le site emailcleaner.herokuapp.com est hébergé par la société Heroku Inc., 650 7th Street, San Francisco, CA
            (tel : +33 1 (877) 563-4311).
        </p>

        <h5>Cookies</h5>
        <p>
            Le site n'utilise pas de cookies à des fins statistiques ou de suivi. Seul un cookie est utilisé afin de
            conserver votre session ouverte durant l'utilisation du site.
        </p>

        <h5>Vie privée</h5>
        <p>
            Le site accorde une grande importance à vos données personnelles. Aucun stockage ou traitement de vos données
            personnelles n'est effectué. Vous pouvez vous assurer du bon usage de vos données en consultant le code source du site
            disponible sur
            <a href="https://github.com/aektos/emailcleaner" target="_blank">Github</a>.<br/>
            Plus d'informations sur le respect de vos données personnelles <a href="/privacy">ici</a>.
        </p>

        <h5>Nous contacter</h5>
        <p>Par mail : emailcleanerapp@gmail.com</p>

    </div>
</div>
