<div class="container">
    <h1 class="header center grey-text darken-3-text">EmailCleaner</h1>
    <div class="row center">
        <h5 class="header col s12 grey-text darken-3-text">Nettoyer votre boîte mail!</h5>
        <p>
            Si votre boîte de messagerie est surchargé par les emails non-lus et les newsletters.
        </p>

        <p>
            Nous accordons un respect total à vos données personnelles.<br/>
            Nous ne stockons pas vos données.
            Le code du service EmailCleaner est open source et disponible sur
            <a href="https://github.com/aektos/emailcleaner" target="_blank">github</a>.
        </p>
    </div>
    <div class="row center">
        <a class="btn-large blue darken-2"
           href="/outlook/authorize">
            Nettoyer votre boîte Outlook ou Hotmail
        </a>
    </div>
    <div class="row center">
        <a class="btn-large red darken-2"
           href="/gmail/authorize">
            Nettoyer votre boîte Gmail
        </a>
    </div>
</div>