<div class="container">
    <h1 class="header center grey-text darken-3-text">Nettoyer votre boîte mail avec EmailCleaner</h1>

    <div class="row center">
        <div class="col s12">
            <div class="row">
                <a class="btn-outlook btn-large blue darken-2"
                   href="/outlook/authorize">
                    Nettoyer votre boîte Outlook ou Hotmail
                </a>
            </div>
            <div class="row">
                <a class="btn-gmail btn-large red darken-2"
                   href="/gmail/authorize">
                    Nettoyer votre boîte Gmail
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card small grey darken-3">
                <div class="card-content white-text">
                    <ul>
                        <li>
                            <h5>Réduisez votre impact CO<sub>2</sub> sur internet.</h5>
                        </li>
                        <li>
                            <h5>1 email = 19 gr CO<sub>2</sub></h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card small grey darken-3">
                <div class="card-content white-text">
                    <ul>
                        <li>
                            <h5>Reprenez le contrôle de votre boîte mail.</h5>
                        </li>
                        <li>
                            <h5>Maîtrisez vos abonnements aux Newsletters.</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card small grey darken-3">
                <div class="card-content white-text">
                    <ul>
                        <li>
                            <h5>EmailCleaner respecte vos données personnelles.</h5>
                        </li>
                        <li>
                            <h5>EmailCleaner est gratuit et <a href="https://github.com/aektos/emailcleaner" target="_blank">open source</a>.</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>