<div class="container">
    <h1 class="header center grey-text darken-3-text">Données personnelles</h1>

    <p>
        Le site accorde une grande importance à vos données personnelles. Aucun stockage ou traitement de vos données
        personnelles n'est effectué. Vous pouvez vous assurer du bon usage de vos données en consultant le code source du site
        disponible sur
        <a href="https://github.com/aektos/emailcleaner" target="_blank">Github</a>.
    </p>

    <h5>Connexion sécurisée à votre boîte mail</h5>
    <P>
        EmailCleaner utilise une connexion sécurisé en HTTPS.
        Le service se connecte à votre boîte mail en utilisant les interfaces disponibles de
        <a href="https://docs.microsoft.com/fr-fr/graph/api/resources/mail-api-overview?view=graph-rest-1.0">OUTLOOK</a>
        et <a href="https://developers.google.com/gmail/api/">GMAIL</a>.
        A aucun moment EmailCleaner ne dispose de votre mot de passes de connexion à votre boîte mail.
    </P>

    <h5>Données personnelles</h5>
    <P>
        L'application EmailCleaner accède à l'intégralité de vos mails lorsque vous vous conenctez via les services
        OUTLOOK ou GMAIL.
        Cependant EmailCleaner lit vos emails uniquement pour les trier par expéditeur, détecter si ce sont des
        newsletters et rechercher des liens de désabonnements.
    </P>
    <p>
        EmailCleaner ne stocke pas et ne vend pas vos données personnelles. L'application ne dispose d'aucun moyen de
        stockagede données.
    </p>

    <h5>Confiance dans EmailCleaner</h5>
    <p>
        EmailCleaner est gratuit et open source. Le code de fonctionnement de l'application est accesible à tout le
        monde sur github : <a href="https://github.com/aektos/emailcleaner" target="_blank">https://github.com/aektos/emailcleaner</a>
    </p>

</div>