<div class="container">
    <h1 class="header center grey-text darken-3-text">Données personnelles</h1>

    <p>
        Le site accorde une grande importance à vos données personnelles. Aucun stockage ou traitement de vos données
        personnelles n'est effectué. Vous pouvez vous assurer du bon usage de vos données en consultant le code source du site
        disponible sur
        <a href="https://github.com/aektos/emailcleaner" target="_blank">Github</a>.
    </p>


</div>